h1{
  font-size: 3vW;
}
#map {
  height: 95vh;
  width: 100%;
 }

 #graph{
   /*background-color:red;*/
 }


.all{
  width: 100%;
  height: 100vh;
  background-color: red;
}
.heading{
  width: 100%;
  height: 8vh;
  background-color:yellow;
}
.logga{
  width:20%;
  /*background-color: red;*/
  float: left;
  margin-right: 5%;

}
.rubrik{
  /*background-color: green;*/
  width: 60%;
}

.nothead{
  width: 100%;
  height: 92vh;
  background-color: green;
}
.utbredning{
  width: 50%;
  height: 92vh;
  background-color: orange;
  float:left;
}
.graf{
  width: 50%;
  height: 46vh;
  background-color: pink;
  float:right;
}
.karta{
  width: 50%;
  height: 46vh;
  background-color: red;
  float:right
}
